<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.seniorlibs.algorithm">

    <application
        android:name=".AlgorithmApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:name">

        <activity
            android:name=".main.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".main.AlgorithmTestActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".linkedlist.LinkedActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".array.ArrayActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".binarytree.BinaryTreeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".map.MapActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".stack.StackActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".queue.QueueActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".heap.HeapActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".back.RecursiveActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".back.BackActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".db.DbActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".db.DbActivity2"
            android:screenOrientation="portrait" />

        <activity
            android:name=".greedy.GreedyActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".binarysearch.BinarySearchActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".trie.TrieActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".bit.BitActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".other.OtherActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".string.StringActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".sort.SortActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>