<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.seniorlibs.lifecycle">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="standard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- 四大组件-Activity -->
        <activity
            android:name=".SecondActivity"
            android:configChanges="screenLayout"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:taskAffinity="com.seniorlibs.lifecycle.task1" />
        <activity
            android:name=".ThirdActivity"
            android:configChanges="screenLayout"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:taskAffinity="com.seniorlibs.lifecycle.task1">
            <intent-filter>
                <action android:name="com.ryg.charpter_1.c" />
                <action android:name="com.ryg.charpter_1.d" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="com.ryg.category.c" />
                <category android:name="com.ryg.category.d" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity android:name=".singletask.ActivityA" />
        <activity
            android:name=".singletask.ActivityB"
            android:launchMode="singleTask" />
        <activity
            android:name=".singletask.ActivityC"
            android:launchMode="singleTask"
            android:taskAffinity="com.task" />
        <activity
            android:name=".singletask.ActivityD"
            android:launchMode="singleTask"
            android:taskAffinity="com.task" />
        <activity android:name=".flag.ActivityFlagA" />
        <activity android:name=".flag.ActivityFlagB" />
        <activity android:name=".flag.ActivityFlagC" />


        <!-- 四大组件-Service -->
        <activity android:name=".service.TestActivity" />

        <service android:name=".service.TestService" />
    </application>

</manifest>