<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.read.kotlinlib">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".basic.BasicActivity" />

        <activity android:name=".basic.CoroutineActivity" />

        <activity android:name=".basic.FlowFunActivity" />

        <activity android:name=".basic.AdvanceActivity" />

        <activity android:name=".basic.ComponentActivity" />

        <activity android:name=".jvm.JvmActivity" />
    </application>

</manifest>