<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seniorlibs.binder">

    <!-- C2、服务端声明的权限 -->
    <permission
        android:name="com.seniorlibs.binder.permission.ACCESS_BOOK_SERVICE"
        android:protectionLevel="normal" />
    <permission
        android:name="com.seniorlibs.PROVIDER"
        android:protectionLevel="normal" />

    <uses-permission android:name="com.seniorlibs.PROVIDER" />
    <!-- C2、客户端声明的权限 -->
    <uses-permission android:name="com.seniorlibs.binder.permission.ACCESS_BOOK_SERVICE" />

    <application
        android:name="com.seniorlibs.binder.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.seniorlibs.binder.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.seniorlibs.binder.file.SecondActivity"
            android:configChanges="screenLayout"
            android:label="@string/app_name"
            android:process=":remote"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.seniorlibs.binder.file.ThirdActivity"
            android:configChanges="screenLayout"
            android:label="@string/app_name"
            android:process="com.seniorlibs.binderclient.remote"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.seniorlibs.binder.messenger.MessengerActivity"
            android:label="@string/title_activity_messenger"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.seniorlibs.binder.aidl.BookManagerActivity"
            android:label="@string/title_activity_book_manager"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <service
            android:name="com.seniorlibs.binder.messenger.MessengerService"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.seniorlibs.binderclient.messenger.MessengerService.launch" />
            </intent-filter>
        </service>

        <service
            android:name="com.seniorlibs.binder.aidl.BookManagerService"
            android:process=":remote" />
    </application>

</manifest>
